version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: etudiantpresta_db
    environment:
      POSTGRES_DB: etudiantpresta
      POSTGRES_USER: etudiantpresta
      POSTGRES_PASSWORD: etudiantpresta123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: etudiantpresta_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@etudiantpresta.sn
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data: