@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
  --primary: #003366;
  --primary-hover: #002244;
  --secondary: #ff6b35;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}